extends ./layout.jade
block content
	section#main
		.container-fluid
			h1 Netflix Updater Guide
			p Here are the movies coming to Netflix this August
	section.movies
		ul.nav
			li.movie
				img(src="#{post.poster}",alt="#{post.title}")
				h3.title
					span #{post.title} (#{post.year})
				span.rating IMDB: #{post.rating}
	footer.mainfooter